.project-container {
  background-color: cadetblue;
  margin: 0px 20px 50px 0;
  width: 300px;
  height: 400px;
  padding: 25px;
  border-radius: 7px;
  color: white;
  text-align: start !important;
  transition: all 0.5s;
}

.project-container:hover {
  transition: all 0.5s;
  padding: 30px 25px !important;
}

.projects {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
    url("../../assets/project-bg-0.jpg");
  background-size: cover;
  color: aliceblue;
  text-align: center;
  background-attachment: fixed;
}

@media (max-width: 1108px) {
  .projects {
    flex-direction: row !important;
    height: auto;
  }
}
