footer {
  padding: 25px 0;
  background-color: #212427 !important;
}

.footer__social {
  color: white;
}

.footer__social li {
  font-size: 25px;
  margin-right: 7px;
}

@media (max-width: 850px) {
  footer ul {
    flex-wrap: wrap;
    justify-items: center;
  }
}
