.aboutme {
  padding: 100px;
}

.aboutme__profile-picture {
  width: 400px;
  height: auto !important;
  filter: grayscale(1);
}

.aboutme__profile-picture:hover {
  filter: grayscale(1) brightness(1.1);
}

.aboutme__name {
  font-style: italic;
  color: #e7a650;
}

.aboutme__description {
  text-align: left;
}

@media (max-width: 991px) {
  .aboutme__description {
    text-align: center;
  }
}
