.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: url("../../assets/header-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header__content {
  /* position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -60%); */
  /* border: 1px dotted red; */
  padding: 25px;
}

.header__content h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: whitesmoke;
  margin-bottom: 30px;
}

.header__content h5 {
  font-size: 25px;
  color: whitesmoke;
  margin-top: 10px;
}

.header__button {
  display: block;
  margin: auto;
  margin-top: 25px;
}

.header__social-media {
  position: absolute;
  bottom: 60px;
  padding-left: 100px;
  left: 0px;
}

.header__social-media--list {
  display: flex;
  list-style: none;
  font-size: 25px;
}

.header__social-media--list--item {
  padding-right: 15px;
  color: white;
}
