nav {
  padding: 0 100px !important;
  position: absolute !important;
  z-index: 1000;
  width: 100%;
}

.navbar__logo--image {
  height: 50px;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: auto 0px;
}

.navbar__list--item {
  list-style: none;
  padding: 0 15px;
  color: white;
  font-size: 19px !important;
}
