* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Piazzolla", serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border-radius: 15px !important;
  border: 0px;
  padding: 7px 30px;
  background-color: #e7a650;
  color: white;
  transition: all 0.8s;
}

button:hover {
  background-color: #dd891a;
  transform: translateY(-3px);
  transition: all 0.8s;
}

button:active {
  background-color: red;
  transform: translateY(5px);
}

ul {
  list-style: none;
}

.section__wrapper {
  /* border: 5px dotted red; */
  padding: 100px;
  padding-bottom: 25px;
}

.icon {
  font-size: 25px;
}

.social-media-list li {
  margin-right: 25px;
  display: flex;
  border-radius: 50%;
  padding: 15px;
}

.social-media-list li:hover {
  background-color: rgba(107, 107, 119, 0.411);
}

.section-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  text-align: center;
}

@media (max-width: 768px) {
  .section__wrapper {
    padding: 25px !important;
  }

  .section-heading {
    flex-direction: column;
  }
}
